*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background: #ccc;
}
.balloon{
    position: absolute;
    width: 160px;
    height: 160px;
    background: #f9f9f9;
    /*圆角*/
    border-radius: 160px 160px 64px 160px;
    /*形变 顺时针旋转45°*/
    transform: rotate(45deg);
    /*盒子阴影 x位移 y位移 羽化程度 半径 颜色 内外阴影*/
    box-shadow: -8px -8px 190px -8px #f84 inset;
}
.balloon:after{
    position:absolute;
    right: 1px;
    bottom: 1px;
    border: 8px solid transparent;
    border-right-color: #f84;
    display: block;
    content: '';
    transform: rotate(45deg);
    border-radius: 50%;
}